

.navbar{
    border-bottom: 5px solid rgb( 82, 201, 248);
}
header{ 
    color: white;
}
.img1{
    height: 300px ;
    width: 400px;
    margin-left: -100px;
    margin-top: 90px;
}
 .info{
    color: tomato;
    font-size: 30px;
    margin-left: -30px;
}
span{
    color: violet;
}

.img2{
    height: 300px ;
    width: 400px;
    margin-left: -25px;
    margin-top: 94px;
}

.info2{
    color: tomato;
    font-size: 30px;
    margin-left: -10px;
}



.img3{
    height: 300px ;
    width: 400px;
    margin-left: 40px;
    margin-top: 94px;
}

.info3{
    color: tomato;
    font-size: 30px;
    margin-left: 100px;
}
.img4{
    height: 400px ;
    width: 450px;
    margin-left: -100px;
}
.offer{
    color: tomato;
    font-size: 30px;

}

.img5{
    height: 400px ;
    width: 550px;
    margin-left: 330px;
}
.offer2{
    color: tomato;
    font-size: 30px;
    margin-left: 400px;
}

.img6{
    height: 400px ;
    width: 500px;
    margin-left: -500px;
    margin-top: 480px;
}

.offer3{
    color: tomato;
    font-size: 30px;
    margin-left: -300px;
}
footer{
    color: rgb(230, 127, 230);
}

